<header id="Header">
    <div class="relative z-40 duration-700 ease-IO" :class="{ 'bg-pri-300': headerHasColor, 'bg-sp2-400 opacity-95': headerIsShow }">
        <div class="c-container py-8 flex justify-between">
            <a href="{{ site.link }}">
                <img ref="headIcon" class="h-12 w-auto duration-300 ease-IO origin-top-left" src="{{ require_asset('images/site-icon.svg') }}" alt="">
            </a>
            <div class="w-1/12 min-w-[4rem] flex justify-center items-center">
                <div class="w-12 h-12 border-2 border-solid border-pri-700 bg-pri-300 cursor-pointer" v-on:click="headerIsShowTrigger">
                    <div class="relative w-full h-full">
                        <div class="c-burger__bar" :class="{ '-active': headerIsShow }">
                            <span class="top-3 left-2"></span>
                            <span class="top-3 right-2"></span>
                            <span class="bottom-3 left-2"></span>
                            <span class="bottom-3 right-2"></span>
                        </div>
                        <div class="c-burger__cross" :class="{ '-active': headerIsShow }">
                            <div class="c-burger__crossChild"><span class="rotate-45"></span></div>
                            <div class="c-burger__crossChild"><span class="-rotate-45"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-show="headerIsShow" class="fixed w-full h-full top-0 left-0 z-30" v-on:click="headerIsShowTrigger"></div>
    <Transition name="c-menu">
        <div v-show="headerIsShow" ref="menu" class="fixed w-full max-h-screen top-0 left-0 pt-headxs sm:pt-head bg-sp2-400 opacity-95 z-30 overflow-auto">
            <div class="c-container">
                <nav class="flex flex-wrap pb-24 sm:pb-16 -mx-5">
                    {% for item in menu.get_items %}
                        {% if item.children %}
                            <div class="w-full sm:w-6/12 md:w-3/12 sm:pt-5 md:pt-0 mt-5 px-5">
                                <h6 class="block text-h6 text-sp1-400">{{ item.title }}</h6>
                                <ul class="pl-5 pt-1.5">
                                    {% for child in item.children %}
                                        <li class="pt-2.5 text-sp2-700 hover:text-tri-400 duration-300 ease-IO">
                                            <a class="block" href="{{ child.link }}">{{ child.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="w-full sm:w-6/12 md:w-3/12 md:ml-auto pt-5 md:pt-0 mt-5 px-5">
                        {% for item in menu.get_items %}
                            {% if not item.children %}
                                <a href="{{ item.link }}" class="block text-h6 text-sp1-400 hover:text-tri-400 duration-300 ease-IO mb-4 group">{{ item.title }}<i class="inline-block icon-arrow-right transition-all opacity-0 group-hover:text-tri-400 group-hover:opacity-100 translate-x-0 group-hover:translate-x-1 duration-300 ease-IO"></i></a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </nav>
            </div>
        </div>
    </Transition>
</header>